$form-color: black;
$button-color: rgb(209, 209, 209);
$background-color: white;
$internal-bg-color: rgb(209, 209, 209);
$internal-border-color: rgb(224, 222, 222);
$font-color: black;

.center-content{
    display:flex;
    justify-content: center;
    align-items: center;
}

.full-width-container{
    width: 98%;
    border-radius: 3px;
    padding: 0px 10px 0px 10px;
}

body {
    background-color: #03071e;
    color: $font-color;
    height: 100%;
}

.hr-solid{
    border-bottom-width: 0px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

a:link, a:visited {
    color: $font-color;
    text-decoration: none;
    cursor: auto;
  }
  
a:link:active, a:visited:active {
color: $font-color;
}

a:hover{
    background-color: aliceblue;
    text-decoration: dotted;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 0px) { 
    //borders  
    .border-warning{
        box-shadow: 0 0 10px #ed9e9e;
        border: 2px solid #ed9ec5;
        border-radius: 7px;
        outline: none;
    }

    .border-success{
        box-shadow: 0 0 10px #9eedaf;
        border: 2px solid #a1ed9e;
        border-radius: 7px;
        outline: none;
    }

    // Navbar
    .navbar{
        display: flex;
        align-items: center;
        height: 50px;
        background-color: $background-color;
    }

    .navbar-brand{
        width: 20%;
        display: flex;
    }

    .navbar-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .navbar-list li{
        margin: 2px;
        padding: 10px;
    }

    .navbar-profile{
        display: flex;
        width: 20%;
        justify-content: flex-end;
        align-items: center;
    }

    // Login and Register 
    .login-form{
        max-width: 450px;
        max-height: 125px;
        position: fixed;
        top: 40%;
        left: 45%;
        border-color: gray;
        background-color: $internal-bg-color;
        border-style: solid;
        border-width: thin;
        border-radius: 3px;
        flex-wrap: wrap;
        flex-direction: column;
        visibility: hidden;
    }

    #login:target{
        visibility: visible;
    }
    
    #register{
        max-height: 175px;
    }

    #register:target{
        visibility: visible;
    }

    .login-obj{
        width: 80%;
        padding: 1px;
        margin: 3px;
        box-shadow: 3px;
    }

    .login-div{
        width: 100%;
        padding: 0px;
        margin: 0px;
        box-shadow: 3px;
    }

    .login-inside{
        width: 100%;
        padding: 1px;
        margin: 3px;
        box-shadow: 3px;
    }

    .login-button{
        background-color: $button-color;
        border-top: 1px solid black;
        border-bottom: 2px solid rgba(114, 175, 199, 0);
    }

    .login-labels{
        background-color: $button-color;
        border-top: 1px solid black;
        border-bottom: 2px solid skyblue;
    }

    // Notification

    .notification-container{
        width: 98%;
        min-height: 20px;
        max-height: 30px;
        position: fixed;
        opacity: 0;
        top: 0;
    }

    .notification{
        max-width: 30%;
        min-width: 20%;
        max-height: 100%;
        background-color: rgba(151, 151, 151, 0.9);
        color: white;
    }

    //Command History
    .command-history{
        background-color: $background-color;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        visibility: hidden;
    }

    .ch-container{
        width: 86%;
        margin-left: 7%;
        margin-right: 7%;
        margin-bottom: 10px;
        border: 1px solid $internal-border-color;
        min-height: 600px;
        background-color: $internal-bg-color;
    }

    .ch-list li{
        list-style-type: none;
        display:flex;
        align-items: center;
        justify-content: space-between;
        
        *{
            flex-basis: 32%
        }
    }
}

@media (min-width: 576px) { 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){ 
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
}

